<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="MSHTML 6.00.2800.1106" name=GENERATOR>
    <title>@ViewBag.Title - CAOL - Controle de Atividades Online - Agence Interativa</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="/css/site.css" rel="stylesheet">
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery-3.4.1.js"></script>
    <script src="~/lib/jquery/dist/modernizr-2.8.3.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>

    @*<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
</head>
<body>
    <div class="navbar  navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("CAOL", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li style="padding-left:10px">
                        <div style="align-content:center">
                            <img id="im0" src="/img/menu/agence.gif" border="0">
                        </div>
                        <div>
                            <a length="59" href="?Length=4">
                                Agence
                            </a>
                        </div>
                    </li>
                    <li style="padding-left:10px">
                        <div>
                            <img id="im1" src="/img/menu/task_icon.gif" border="0">
                        </div>
                        <div>
                            <a href="?Length=4">Proyectos</a>
                        </div>
                    </li>
                    <li style="padding-left:10px">
                        <div>
                            <img id="im2" src="/img/menu/administrativo.gif" border="0">
                        </div>
                        <div>
                            <a href="?Length=4">Administrativo</a>
                        </div>
                    </li>
                    <li style="padding-left:10px">
                        <div>
                            <img id="im3" src="/img/menu/comercial.gif" border="0">
                        </div>
                        <div>
                            <a href="/Home/Con_desempenho">Comercial</a>
                        </div>
                    </li>
                    <li style="padding-left:10px">
                        <div>
                            <img id="im4" src="/img/menu/fichario.gif" border="0">
                        </div>
                        <div>
                            <a href="?Length=4">Financiero</a>
                        </div>
                    </li>
                    <li style="padding-left:10px">
                        <div>
                            <img id="im5" src="/img/icone_inf_pessoal.gif" border="0">
                        </div>
                        <div>
                            <a href="?Length=4">Usuario</a>
                        </div>
                    </li>
                    <li style="padding-left:10px">
                        <div>
                            <img id="im6" src="/img/cancel.gif" border="0">
                        </div>
                        <div>
                            <a href="/Home/Index">Salir</a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    
    @RenderSection("scripts", required: false)
</body>
</html>
